---
layout: default
title: Book Shelf
permalink: /words
categories: [ Sounds ]
---

<div class="{% unless page.categories == empty %} Book Shelf posts {% endunless %}">  
    <h2 class="text-center mb-4">Book Shelf arranged by Caferoman</h2>
    
    <div class="d-flex justify-content-center align-items-center">
    
    <!-- Categories -->
    {% assign sortedCategories = page.categories | sort %}
    {% for category in sortedCategories %}
    <a class="smoothscroll badge badge-primary text-capitalize" href="{{site.baseurl}}/categories#{{ category | replace: " ","-" }}">{{ category }}</a>                
    {% endfor %}

    </div>

    <div class="blog-grid-container">
        {% for post in site.posts %}
            {% for category in post.categories %}
                {% include postbox.html %}
            {% endfor %}
        {% endfor %}
    </div>        
</div>