
<script data-ad-client="ca-pub-3739397756903205" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!--
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
    style="display:block"
    data-ad-client="{{site.adsense-data-ad-client}}"
    data-ad-slot="{{site.adsense-data-ad-slot}}"
    data-ad-format="auto"
    data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->
<br/>